__pycache__/
app/__pycache__/
app/public/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
*/*/*/*/*/__pycache__/
.idea/
venv/
env/
.code/
.vscode/    
.pytest_cache/
tempCodeRunnerFile.py